<article class="number_of_contacts">
  <p>There are <span><%= @contacts.count %></span> contacts. </p>
</article>

<% @contacts.each do |contact| %>

  <div class="contact">
    <a href="/contacts/<%= contact.id %>" class="contacta"><%= contact.full_name %> (<%= contact.email %>)</a>
    <div>
      <a href="/contacts/<%= contact.id %>/edit">Edit</a>
      |
      <a href="/contacts/<%= contact.id %>/delete">Delete</a>
    </div>
  </div>


<% end %>
